/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  border-style: solid;
  border-top-width: 40px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-color: #000;
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  height: 60px;
  padding: 20px;
  color: #fff;
  margin-bottom: 20px;
}

#left {
  float: left;
  background: #666;
  width: 33.3333%;
}

#middle {
  float: left;
  width: 33.3333%;
  background: #888;
}

#right {
  float: left;
  clear: right;
  width: 33.3333%;
  background: #666;
}

#full {
  height: 200px;
  width: 100%;
  background: #ddd;
  float: left;
  padding: 0;
  padding-left: 20px;
  color: #000;
  clear: right;
  margin: 0px;
}

#division {
  background: #6ea3da;
  height: 60px;
  padding: 20px;
  color: #000;
  margin-top: 40px;
}

aside {
  width: 30%;
  height: 80%;
  background: #fff;
  margin: 20px;
  float: left;
  padding-top: 20px;
}

footer {
  margin-top: 20px;
  padding: 20px;
  height: 60px;
  width: 100%;
  background: #ccc;
  float: left;
}
